<% @myfiend_user.each do |boting|%>
  <% About.where(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 1]).each do |s| %>
    <%if @lo = About.find_by(["my_id = ? and user_id = ? and about_id = ?", s.user_id, current_user.id, 1]) %>

    <div class="love_data">
      <div class="love_data_ava">
        <%= image_tag User.find_by(id: @lo.my_id).avatar %>
     </div>
     <!--  <div class="love_data_ava_name">
      <%= User.find_by(id: @lo.my_id).username %>
    </div>
      ã¨ä¸¡æ€ã„ã«ãªã‚Šã¾ã—ãŸã€‚ -->
   </div>

    <% end %>
    <% end %>
<% end %>
<% if @myfiend == [] %>
<%
    require "twitter" 
    client = Twitter::REST::Client.new do |config|
    config.consumer_key = "HJR6eT9S8AQPi5EI9FATav3GT"
    config.consumer_secret = "2bKpH1MwJ7ZyUKAq6g80LI0peEQTaIV7iRLctANpGRIXQF77CG"
    config.access_token = current_user.token
    config.access_token_secret = current_user.secret
  end
  %>

<% @followingUser = client.friends %>
<% @followingUser.map do |follower| %>
      <% @banana = Friend.new %>
      <% @banana.my_user_id = current_user.id %>
      <% @banana.friend_name = follower.screen_name%>
      <% @banana.friend_name_u = follower.name%>
      <% @banana.friend_id = follower.id %>
      <% @banana.friend_avatar = follower.profile_image_url %>
      <% @banana.save%>

<% end %>

<% else %>

<ul class="friend_list">
<% Friend.where(my_user_id: current_user.id).order(friend_check: :desc).each do |te|%>
<li>
<div class="profile_image_friend"><%= image_tag te.friend_avatar%></div>
<div class="profile_name"><%= te.friend_name_u %></div>
<div class="profile_name_id">@<%= te.friend_name %></div>
<% if te.friend_check == true %>
  <div class="profile_score">

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, User.find_by(:username => te.friend_name), 1])%>
          <%= link_to "å¥½ããªäºº" ,  User.find_by(:username => te.friend_name) , :class => "score_button_1" %>

          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, User.find_by(:username => te.friend_name), 2])%>
          <%= link_to "è¦ªå‹" ,  User.find_by(:username => te.friend_name) , :class => "score_button_2" %>

          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, User.find_by(:username => te.friend_name), 3])%>
          <%= link_to "å‹é”" ,  User.find_by(:username => te.friend_name) , :class => "score_button_3" %>

          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, User.find_by(:username => te.friend_name), 4])%>
          <%= link_to "çŸ¥ã‚Šåˆã„" ,  User.find_by(:username => te.friend_name) , :class => "score_button_4" %>
          <% else %>
          <%= link_to "æœªé¸æŠž" ,  User.find_by(:username => te.friend_name) , :class => "score_button_0" %>
          <% end %>

        </div>

          

<% end %>
<% if User.find_by(:username => te.friend_name).blank? == false %>
  <% te.friend_check = true %>
  <% te.save %>
<% end %>

</li>
<% end %>
</ul>

<!-- 
<ul class="friend_list">
<% @myfiend_user.each do |boting|%>
<li>
<div class="profile_image_friend"><%= image_tag boting.avatar%></div>
<%= link_to boting.username, boting  , :class => "profile_name" %>
        <div class="profile_score">
          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 1])%>
          <%= link_to "å¥½ããªäºº" , boting , :class => "score_button_1" %>
          <% end %>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 2])%>
          <%= link_to "è¦ªå‹" , boting , :class => "score_button_2" %>
          <% end %>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 3])%>
          <%= link_to "å‹é”" , boting , :class => "score_button_3" %>
          <% end %>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 4])%>
          <%= link_to "çŸ¥ã‚Šåˆã„" , boting , :class => "score_button_4" %>
          <% end %>
        </div>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 1])%>
          ðŸ’•
          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 2])%>
          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 3])%>

          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 3])%>

         <% end %>

<% end %>



</li>
</ul> -->
<% end %>
