<% @myfiend_user.each do |boting|%>
  <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 1]).blank? %>
  両思いの人がいません。
  <% else %>
  両思いの人がいます。
  <% end %>
<% end %>

<% if @myfiend == [] %>
<%
    require "twitter" 
    client = Twitter::REST::Client.new do |config|
    config.consumer_key = "HJR6eT9S8AQPi5EI9FATav3GT"
    config.consumer_secret = "2bKpH1MwJ7ZyUKAq6g80LI0peEQTaIV7iRLctANpGRIXQF77CG"
    config.access_token = current_user.token
    config.access_token_secret = current_user.secret
  end
  %>

<% @followingUser = client.friends %>
<% @followingUser.map do |follower| %>
      <% @banana = Friend.new %>
      <% @banana.my_user_id = current_user.id %>
      <% @banana.friend_name = follower.screen_name%>
      <% @banana.friend_id = follower.id %>
      <% @banana.friend_avatar = follower.profile_image_url %>
      <% @banana.save%>
<%= puts client.friends %>

<% end %>

<% else %>

<ul class="friend_list">
<% @myfiend_user.each do |boting|%>

<li>
<div class="profile_image_friend"><%= image_tag boting.avatar%></div>
<%= link_to boting.username, boting  , :class => "profile_name" %>
        <div class="profile_score">
          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 1])%>
          <%= link_to "好きな人" , boting , :class => "score_button_1" %>
          <% end %>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 2])%>
          <%= link_to "親友" , boting , :class => "score_button_2" %>
          <% end %>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 3])%>
          <%= link_to "友達" , boting , :class => "score_button_3" %>
          <% end %>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?", current_user.id, boting.id, 4])%>
          <%= link_to "知り合い" , boting , :class => "score_button_4" %>
          <% end %>
        </div>

          <% if About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 1])%>
          💕
          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 2])%>
          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 3])%>

          <% elsif About.find_by(["my_id = ? and user_id = ? and about_id = ?",current_user.id,boting.id, 1]) && About.find_by(["my_id = ? and user_id = ? and about_id = ?",boting.id,current_user.id, 3])%>

         <% end %>

<% end %>



</li>
</ul>
<% end %>
