<p id="notice"><%= notice %></p>

<p>
  <strong>Home item name:</strong>
  <%= @home.home_item_name %>
</p>

<p>
  <strong>Home item number:</strong>
  <%= @home.home_item_number %>
</p>

<p>
  <strong>Home item request:</strong>
  <%= @home.home_item_request_teacher %>
</p>

<p>
  <strong>Home item request:</strong>
  <%= @home.home_item_request_assistant %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
