<!DOCTYPE html>
<html>
  <head>
    <title>Vdapp</title>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if user_signed_in? %>
    <header>

                <div class="profile_image">
                  <%= link_to root_path do %>
                  <% image_tag current_user.avatar %>
                    <% end %>
                </div>

               <div class="head_menu">
                <%= link_to 'プロフィール変更', edit_user_registration_path, :class => "profile_edit" %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "profile_logout" %>
              </div>
</header>

<% end %>

    <%= yield %>
  </body>
</html>
